@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;700&display=swap');

*{
  font-family: 'IBM Plex Mono', monospace;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollXMand {
  scroll-snap-type: x mandatory;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

.add-padding {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
